<% layout("/layouts/boilerplate.ejs") %>
<style>
  #filters {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
  }
  .filter {
    text-align: center;
    color: #990000;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity: 0.7;
  }
  .filter:hover {
    opacity: 1;
    color: #3e0000;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.9rem;
  }
  .tax-info {
    display: none;
  }
  .tax-toogle{
    border: 1px solid black;
    border-radius: 1rem;
     height: 3.25rem;
     padding: 1rem;
   margin-left: 2rem;
     display: flex;
     align-items: center;
    
  }
  .filter a{
      text-decoration: none;
      color: #990000;
  }
</style>
<div id="filters">
  <div class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <a href="/search/:key"><p>Trending</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <a href="/search/:key"><p>City-premium</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <a href="/search/:key"><p>Rooms</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-umbrella-beach"></i></div>
    <a href="/search/:key"><p>Beach</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <a href="/search/:key"><p>Mountain</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <a href="/search/:key"><p>Farm</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <a href="/search/:key"><p>Cstel</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <a href="/search/:key"><p>Camping</p></a>
  </div>
  <div class="filter">
    <div><i class="fa-solid fa-hand-holding-dollar"></i></div>
    <a href="/search/:key"><p>Premium</p></a>
  </div>
  <div class="tax-toogle">
    <div class="form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
      />
      <label class="form-check-label" for="flexSwitchCheckDefault"
        >Display total after taxes</label
      >
    </div>
  </div>
</div>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
  <% for(let listings of allListing) {%>
  <a href="/listings/<%= listings._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listings.image.url %>"
        class="card-img-top"
        alt="listing-image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>

      <div class="card-body">
        <p class="card-text">
          <b> <%= listings.title %></b><br />
          <b> &#8377; <%= listings.price.toLocaleString("en-IN") %>/night</b>
          <i class="tax-info">&nbsp;&nbsp;+18% GST </i>
        </p>
      </div>
    </div>
  </a>

  <% } %>
</div>

<script>
  let taxSwitch = document.getElementById("flexSwitchCheckDefault");
  taxSwitch.addEventListener("click", () => {
    let taxInfo = document.getElementsByClassName("tax-info");
    for (info of taxInfo) {
      if (info.style.display != "inline") {
        info.style.display = "inline";
      } else {
        info.style.display = "none";
      }
    }
  });
</script>
