<% layout("/layouts/boilerplate.ejs") %>

<div class="row">
  <h2 class="col-6 offset-3" >Signup for wonderLust</h2>
  <div class="col-6 offset-3">
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="Enter the username"
              class="form-control"
              required
            />
            <div class="invalid-feedback">
              Please choose a Username.
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">pasword</label>
              <input
                type="password"
                name="password"
                id="password"
                placeholder="Enter the password"
                class="form-control"
                required
              />
              <div class="invalid-feedback">
                Please choose a pasword.
              </div>
              <button class="btn btn-success mt-3">Login</button>
    </form>
<button class="btn btn-success mt-3"><a style="color: rgb(249, 243, 243); text-decoration: none;" href="/auth/google">Login with &nbsp; <i class="fa-brands fa-google"></i></a></button> 
  </div>
</div>
